html,
body, 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    background-color:rgb(183, 183, 238);;
}


:root {
    /*typography*/
    --h1: 7.594rem;
    --h2: 3.5rem;
    --h3: 3.375rem;
    --h4: 2.25rem;
    --h5: 1.5rem;
}

h1 {
    font-size: var(--h1);
    text-align: center;
    padding: var(--h4);
    padding-bottom: 5rem;
    background-color: rgb(115, 115, 207);
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin: 5%; */
    column-gap: 2rem;
    background-color: rgb(183, 183, 238);
   


}

.emojiTitle {
    font-size: var(--h4);
    text-align: center;
    background-color: #fffff0;

}

.emojiImage {
    font-size: var(--h3);
    text-align: center;
    padding-bottom: var(--h4);
    background-color: #fffff0;
    
    
    
}

.whalenTitle {
    font-size: var(--h4);
    text-align: center;
}

.whalenImage {
    height: 20rem;
    border-radius: 1rem;
    margin-left: 1.5rem;
    
}

#name {
    font-size: var(--h5);
    text-align: center;
    padding-top: 2rem;
}

#group {
    font-size: var(--h5);
    text-align: center;
    padding-top: 2rem;
    
}

#emojis {
    display: flex;
    width: 100vw;
    padding-top: 3rem;
    /* align-items: center; */
    justify-content: center;
    font-size: var(--h2);
    text-align: center;
    background-color: rgb(183, 183, 238);
}



.btn{
    background-color: #fffff0;
    padding: 0.5rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 1rem;
}

.btn:hover{
    opacity: 0.7;
    cursor: pointer;
    transition: all 0.2s;
    box-shadow: 0 10px 0.5rem rgba(0, 0, 0, 0.2);
}

.wholeThing{
    border: solid black 0.5rem;
    margin: var(--h2);
    padding: var(--h2);
    border-radius: 1rem;
    width: 20%;
    text-wrap: wrap;
    background-color: #fffff0;
    
}


@media screen and (max-width: 1000px) {
    .wholeThing{
        width: 40%;
    }
  }


  @media screen and (max-width: 813px) {
    .wholeThing{
        width: 100%;
    }
  }

